# Server Configuration
PORT=3001
NODE_ENV=development

# DirectusCloud Directory
INSTANCES_DIR=./instances

# Port Configuration
STARTING_PORT=8910
CADDY_HTTP_PORT=8080
CADDY_HTTPS_PORT=8443

# Database
DB_PATH=./app/data/directuscloud.db

# PM2 Configuration
PM2_HOME=./app/data/.pm2
